<section>
<div class="container">
    <div class="row footer-main">
        <div class="col">
          <h2>Company Information</h2>

          <!--  -->
          <ul class="ul-list">
              <li><a href="/contact-us">Contact Us</a></li>
              <li><a href="/terms-condition">Terms and Conditions</a></li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
              <li><a href="/about-us">About Us</a></li>
          </ul>
        </div>
        <div class="col">
          <h2>Customer Service</h2>

          <!--  -->
          <ul class="ul-list">
            <li><a href="/shipping-delivery">Shippin & Delivery</a></li>
            <li><a href="/seller-hub-express">Seller Hub Express</a></li>
            <li><a href="/return-policy">Return Policy</a></li>
        </ul>
        </div>
        <div class="col">
          <h2>Kaiglo Service</h2>
        </div>
        <div class="col">
            <h2>Make money with us</h2>

            <!--  -->
          <ul class="ul-list">
            <li><a href="/sell-on-sellerhub">Sell on Sellerhub</a></li>
            <li><a href="/affiliate-partner">Become an Affiliate Partner</a></li>
        </ul>
        </div>
        <div class="col">
            <h2>Download our mobile app</h2>

            <!--  -->
            <div class="d-flex download-img">
                <img src="../../../assets/640px-Google_Play_Store_badge_EN.svg.png" class="px-1" alt="" srcset="">
                <img src="../../../assets/downloadappstore.png" alt="" srcset="">
            </div>
        </div>
    </div>
</div>
</section>