<section>
<div class="container">
    <div class="row footer-main">
        <div class="col">
          <h2>Company Information</h2>

          <!--  -->
          <ul class="ul-list">
              <li><a href="/contact-us">Contact Us</a></li>
              <li><a href="/terms-condition">Terms and Conditions</a></li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
              <li><a href="/about-us">About Us</a></li>
          </ul>
        </div>
        <div class="col">
          <h2>Customer Service</h2>

          <!--  -->
          <ul class="ul-list">
            <li><a href="/shipping-delivery">Shippin & Delivery</a></li>
            <li><a href="/seller-hub-express">Seller Hub Express</a></li>
            <li><a href="/return-policy">Return Policy</a></li>
        </ul>
        </div>
        <div class="col">
          <h2>Kaiglo Service</h2>

          <!--  -->
          <div class="footer-icons">
              <a href="">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="">
            <i class="fa-solid fa-paper-plane"></i>
        </a>
            
            <!-- <i class="fa-solid fa-comment"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-pinterest"></i> -->
            </div>
        </div>
        <div class="col">
            <h2>Make money with us</h2>

            <!--  -->
          <ul class="ul-list">
            <li><a href="/sell-on-sellerhub">Sell on Sellerhub</a></li>
            <li><a href="/affiliate-partner">Become an Affiliate Partner</a></li>
        </ul>
        </div>
        <div class="col">
            <h2>Download our mobile app</h2>

            <!--  -->
            <div class="d-flex download-img">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/google@@2x.png" class="px-1" alt="" srcset="">
            </a>
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/apple@@2x.png" alt="" srcset="">
            </a>
            </div>
        </div>
    </div>
</div>
</section>

<section class="footer-lower-wrapper">
    <div class="container footer-lower">
        <h2>Copyright © 2020 SellersHub STORES LIMITED. All Rights Reserved. User Agreement, Privacy and Cookies</h2>
    </div>
</section>
