
        <section class="body">
            <div class="header">
                <h2>Welcome to SellersHub</h2>
            </div>
            
            <!--  -->
            <div class="dashboard-column">
                <div class="cards">
                    <div class="pending-order-img">
                        <img src="../../../assets/pending-orders.png" alt="">
                    </div>
                    <div class="pending-order-img">
                        <h2>0</h2>
                        <p>Pending Orders</p>
                    </div>
                </div>
            
                <div class="cards">
                    <div class="pending-order-img">
                        <img src="../../../assets/visittors.png" alt="">
                    </div>
                    <div class="pending-order-img">
                        <h2>0</h2>
                        <p>Today's Visitors</p>
                    </div>
                </div>
            
                <div class="cards">
                    <div class="pending-order-img">
                        <img src="../../../assets/stock.png" alt="">
                    </div>
                    <div class="pending-order-img">
                        <h2>0</h2>
                        <p>Items in Stock</p>
                    </div>
                </div>
            
                <div class="cards">
                    <div class="pending-order-img">
                        <img src="../../../assets/total-sales.png" alt="">
                    </div>
                    <div class="pending-order-img">
                        <h2>0</h2>
                        <p>Total Sales</p>
                    </div>
                </div>
            
            </div>

            <div class="dashboard-wrapper">
                <div class="product-performance">
                    <h2>Store / Product Performance</h2>

                    <div class="inner-layer">
                        <p>Dec 16 - Dec 23</p>
                        <ul class="dashboard-ul">
                            <li>Daily</li>
                            <li>Weekly</li>
                            <li>Monthly</li>
                        </ul>
                    </div>

                    <div class="dashboard-numbers">
                        <div class="inner-dashboard-numbers">
                            <span class="c1">154</span>
                            <p>Product views</p>
                        </div>
                        <div class="inner-dashboard-numbers">
                            <span class="c2">39</span>
                            <p>Store Visit</p>
                        </div>
                        <div class="inner-dashboard-numbers">
                            <span class="c3">193</span>
                            <p>Total Traffic</p>
                        </div>
                    </div>
                </div>
                <div class="product-performance">
                    <h2>Recent buyers</h2>

                    <div class="buyer-list">
                        <div class="buyer-list-img">
                            <img src="../../../assets/buyer1.png" alt="">
                        </div>
                        <div class="buyer-list-name">
                            <h2>Saint Morris</h2>
                            <p><span>Product</span> 2019 New Design light Sneakers Mesh Latest Men </p>
                        </div>
                        <div class="buyer-list-chat">
                            <i class="fa-solid fa-comments"></i>
                            <p>Chart Buyer</p>
                        </div>
                    </div>

                    <div class="buyer-list">
                        <div class="buyer-list-img">
                            <img src="../../../assets/buyer2.png" alt="">
                        </div>
                        <div class="buyer-list-name">
                            <h2>Apostle Ben</h2>
                            <p><span>Product</span> Fashion Women PU Leather Messenger Handbag </p>
                        </div>
                        <div class="buyer-list-chat">
                            <i class="fa-solid fa-comments"></i>
                            <p>Chart Buyer</p>
                        </div>
                    </div>

                    <div class="buyer-list">
                        <div class="buyer-list-img">
                            <img src="../../../assets/buyer3.png" alt="">
                        </div>
                        <div class="buyer-list-name">
                            <h2>Apostle Ben</h2>
                            <p><span>Product</span> Fashion Women PU Leather Messenger Handbag </p>
                        </div>
                        <div class="buyer-list-chat">
                            <i class="fa-solid fa-comments"></i>
                            <p>Chart Buyer</p>
                        </div>
                    </div>

                    <div class="buyer-list">
                        <div class="buyer-list-img">
                            <img src="../../../assets/buyer3.png" alt="">
                        </div>
                        <div class="buyer-list-name">
                            <h2>Apostle Ben</h2>
                            <p><span>Product</span> Fashion Women PU Leather Messenger Handbag</p>
                        </div>
                        <div class="buyer-list-chat">
                            <i class="fa-solid fa-comments"></i>
                            <p>Chart Buyer</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard-wrapper">
                <div class="product-performance">
                    <h2>Store details</h2>

                    <div class="buyer-list">
                        <div class="buyer-list-img">
                            <img src="../../../assets/store-keeper.png" alt="">
                        </div>
                        <div class="buyer-list-name">
                            <h2>Saint Morris & Sons hoodlums Store</h2>
                            <p>Hoodlum is a 1997 American crime drama film that gives a fictionalized account of the gang war between the Italian/Jewish mafia alliance and the black gangsters of Harlem that took place in the late 1920s and early 1930s</p>
                        </div>
                        <div class="buyer-list-chat">
                            <i class="fa-solid fa-pen-to-square"></i>
                            <!-- <p>Chart Buyer</p> -->
                        </div>
                    </div>

                    <div class="store-keeper-wrapper">
                        <div class="store-keeper-details">
                            <h2>50</h2>
                            <p>SUCCESSFUL SALES</p>
                        </div>
                        <div class="store-keeper-details">
                            <h2>153</h2>
                            <p>PRODUCTS</p>
                        </div>
                        <div class="store-keeper-details">
                            <h2>225K</h2>
                            <p>FOLLOWERS</p>
                        </div>
                    </div>

                    <div class="store-kepper-list">
                        <div class="store-keeper-order">
                            <p>Productivity Quality</p>
                        </div>
                        <div class="store-keeper-order">
                            <p>Delivery Rate</p>
                        </div>
                        <div class="store-keeper-order">
                            <p>Communication</p>
                        </div>
                    </div>

                </div>
                <div class="product-performance">
                    <h2>Best selling items</h2>

                    <!--  -->
                    <div class="product-performance-item">
                        
                    </div>
                </div>
            </div>
            
        </section>

