<div class="nav">
    <div class="container">
        <div class="nav-container">
        <a class="navbar-brand animate__animated animate__fadeInLeft" href="#">
            <img src="../../../assets/KG-sellers-hub-logo.svg" alt="Navbar" >
        </a>

        <ul class="navbar-nav mb-2 mb-lg-0 me-auto animate__animated animate__fadeInRight">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Kaiglo Express</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Learning center</a>
            </li>
            <li class="nav-item btn-register">
              <a class="nav-link active" aria-current="page" href="#">Register</a>
            </li>
        </ul>
    </div>
    </div>
</div>


  