<section class="hero-img">
    <div class="container">
        <div class="hero-text">
            <h2>Join the No.1 
                <br/>Ecommerce <br/>Platform in Nigeria</h2>
                
                <!--  -->
                <p class="">Start making money now, it's easy and free</p>
                <button class="hero-button">Become a Seller</button>
        </div>
    </div>
</section>

<section class="how-it-works-bk">
    <div class="container">
        <div class="header-text">
            <h2>How It works</h2>
            <p>
                Become a member on the SellersHub platform by creating an account either using your social media account or email account. Proceed to create store and begin upload of store details, then await your dashboard where items can be uploaded and all inventory managed.
            </p>
        </div>
        <div class="works-content">
            <div class="card-body-content">
                <img src="../../../assets/become_member.png" alt="become a member">
                <h2>Become a member</h2>
                <p>Sign up to sell on SellersHub and reach millions of potential customers.</p>
            </div>
            <div class="card-body-content">
                <img src="../../../assets/verify_acc.png" alt="become a member">
                <h2>Upload product</h2>
                <p>Click on the verification link sent to you to confirm your registration</p>
            </div>
            <div class="card-body-content">
                <img src="../../../assets/start-selling.png" alt="become a member">
                <h2>Start Selling</h2>
                <p>Upload your products and start selling!</p>
            </div>
        </div>
    </div>
</section>

<section class="why-sellerhub">
    <div class="header-text">
        <h2>Why choose SellersHub</h2>
        <p>
            SellersHub provides the right platform for sellers to promote their brand and store online, allowing them to have personalized interaction with potential buyers.
        </p>
    </div>
    <div class="why-seller-content">
        <div class="why-seller-items">
            <div class="white-content ">
                <h2>Market Coverage</h2>
                <p>We understand your need to reach a broader consumer base and make smoother sales and huge profits; SellersHub as a platform is here to help.</p>
            </div>
            <div class="white-content ">
                <h2>Trade</h2>
                <p>SellersHub provides a user experience that allows even your most loyal customers to still keep in touch and purchase from you anywhere they are in Nigeria.</p>
            </div>
            <div class="white-content ">
                <h2>Easy Of Payment</h2>
                <p>On SellersHub, mobile payment is made easy, fast and efficient.</p>
            </div>
        </div>
        <div class="why-seller-content-img">
            <img src="../../../assets/mobile-home.png" alt="" srcset="">
        </div>
        <div class="why-seller-items">
            <div class="white-content">
                <h2>Brand Recognition</h2>
                <p>we understand your need to reach a broader consumer base and make smoother sales and huge profits; SellersHub as a platform is here to help.</p>
            </div>
            <div class="white-content">
                <h2>Market Insight</h2>
                <p>we understand your need to reach a broader consumer base and make smoother sales and huge profits; SellersHub as a platform is here to help.</p>
            </div>
            <div class="white-content">
                <h2>Efficiency & Trustworthy</h2>
                <p>we understand your need to reach a broader consumer base and make smoother sales and huge profits; SellersHub as a platform is here to help.</p>
            </div>
        </div>
    </div>
</section>

<section class="successful-stories">
    <div class="container">
        <div class="header-text">
            <h2>Successful Stories</h2>
        </div>

        <div class="wrap">
            <div class="black-box"></div>
            <img src="../../../assets/seller-obinnapro.png" alt="">
            <div class="successful-stories-wrapper">
                <span>Store Owner</span>
                <div class="successful-stories-body">
                    <div class="successful-stories-content">
                        <h2>My Story</h2>
                        <p>Ever since I joined kaiglo, I have experienced improved sales due to their market insight data.</p>
                    </div>

                    <div class="successful-stories-name">
                        <h2>ObinnaBoss</h2>
                        <p>CEO (ObinnaBoss Fashion)</p>
                    </div>
                </div>
            </div>
    </div>
    </div>
</section>