<section class="hero-img">
    <div class="container">
        <div class="hero-text">
            <h2>Join the No.1 
                <br/>Ecommerce <br/>Platform in Nigeria</h2>
                
                <!--  -->
                <p class="">Start making money now, it's easy and free</p>
                <button class="hero-button">Become a Seller</button>
        </div>
    </div>
</section>

<section class="how-it-works-bk">
    <div class="container">
        <div class="header-text">
            <h2>How It works</h2>
            <p>
                Become a member on the SellersHub platform by creating an account either using your social media account or email account. Proceed to create store and begin upload of store details, then await your dashboard where items can be uploaded and all inventory managed.
            </p>
        </div>
        <div class="works-content">
            <div class="card-body-content">
                <img src="../../../assets/become_member.png" alt="become a member">
                <h2>Become a member</h2>
                <p>Sign up to sell on SellersHub and reach millions of potential customers.</p>
            </div>
            <div class="card-body-content">
                <img src="../../../assets/verify_acc.png" alt="become a member">
                <h2>Upload product</h2>
                <p>Click on the verification link sent to you to confirm your registration</p>
            </div>
            <div class="card-body-content">
                <img src="../../../assets/start-selling.png" alt="become a member">
                <h2>Start Selling</h2>
                <p>Upload your products and start selling!</p>
            </div>
        </div>
    </div>
</section>