@import url('http://fonts.cdnfonts.com/css/gotham');

.header-text h2 {
    text-align: center;
    font-family: 'Gotham', sans-serif;
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 0px;
    color: #151716;
    opacity: 1;
}

.header-text {
    padding-top: 30px;
    /* display: flex; */
}

.header-text p{
    text-align: center;
    font-family: 'Gotham', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0px;
    color: #151716;
    display: flex;
    align-content: center;
    justify-content: center;

    /* width: 50%; */

}

.container {
    padding-left: 100px;
    padding-right: 100px;
}

.works-content {
    display: flex;
    font-family: 'Gotham', sans-serif;
    align-content: space-around;
    justify-content: space-evenly;
    gap: 30px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.card-body-content {
    width: 40%;
    text-align: center;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 40px;
}

.card-body-content h2 {
    font-family: 'Gotham', sans-serif;
    font-size: 24px;
}

.card-body-content img {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 25%;
}

.card-body-content p {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Gotham', sans-serif;
    font-size: 12px;
    line-height: 1.8;
}

.how-it-works-bk {
    background-color: #f0eeee;
}


@media screen and (max-width: 768px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .works-content {
        flex-direction: column;
        max-width: 100%;
    }
}


/* section 1 */

.hero-img {
    background: url("../../../assets/hero-image.png");
  /* background: url("/assets/img/image2.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text h2 {
    text-align: left;
    font-family: 'Gotham', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 42px;
    /* width: 30%; */
    line-height: 1.2;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.hero-text p {
    color: #fff;
    font-family: 'Gotham', sans-serif;
}

.hero-text {
    padding-top: 10%;
    padding-bottom: 10%;
}

.hero-button {
    margin-top: 20px;
    background-color: #02796F;
    color: #fff;
    border-radius: 50px;
    padding: 10px 30px;
    font-family: 'Gotham', sans-serif;
    border: none;
    text-transform: uppercase;
}

.why-seller-content-img img{
    max-width: 100%;
}

.why-seller-content-img {
    text-align: center;
}

.why-seller-content {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
}

.white-content p {
    
    letter-spacing: 0px;
    font-size: 12px;
    line-height: 1.8;
    /* width: 30%; */
    font-family: 'Gotham', sans-serif;
    color: #727272;
    opacity: 1;
}

.white-content h2 {
    
    letter-spacing: 0px;
    font-size: 20px;
    line-height: 1.8;
    /* width: 30%; */
    font-family: 'Gotham', sans-serif;
    color: #727272;
    padding-bottom: 0px;
    margin-bottom: 0px!important;
}

.white-content {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border-radius: 16px;
    padding: 10px 30px 10px 30px;
    width: 300px;
    margin-bottom: 10px;
}

.successful-stories span {
    background: #02796F 0% 0% no-repeat padding-box;
    border-radius: 4px;
    font-family: 'Gotham', sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-style: italic;
    padding: 12px 20px;
}

.successful-stories-content h2{
    font-family: 'Gotham', sans-serif;
    color: #161616;
    font-size: 32px;
}

.successful-stories-content p{
    font-family: 'Gotham', sans-serif;
    color: #161616;
    font-size: 15px;
    width: 80%;
    line-height: 1.8;
}

.successful-stories-name h2{
    font-size: 25px;
    font-family: 'Gotham', sans-serif;
    letter-spacing: 0px;
    color: #161616;
    padding-bottom: 0px!important;
    margin-bottom: 0px!important;
}

.successful-stories-name p{
    font-size: 15px;
    font-family: 'Gotham', sans-serif;
    letter-spacing: 0px;
    color: #02796F;
    font-style: italic;
    font-weight: 500;
    padding-top: 2px;
    margin-top: 2px;
}

.successful-stories-wrapper {
    background-color: #fff;
    padding: 70px 40px 30px 10rem;
    /* padding-right: 40px; */
}

.successful-stories {
    background-color: #f0eeee;
    padding-bottom: 40px;
   
}

.black-box {
    background-color: #161616;
    width: 10rem;
    height: 22rem;
}

.wrap {
    display: flex;
    position: relative;
}

.wrap img {
    position: absolute;
    max-width: 20%;
    top: 5rem;
    left: 4rem;
}